<% layout('layouts/home-theme') %>
    <main class="px-3">
        <!-- Slider Area -->
        <section class="home-slider">
            <div class="slider-wrapper owl-carousel">
                <div class="slider-item slider1 carousel-content">
                    <div class="slider-table">
                        <div class="slider-tablecell">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-8 col-md-12 ">
                                        <div class="slider-heading wow fadeInDown " data-wow-duration="1.2s"
                                            data-wow-delay="0.2s">
                                            <h1><span>INDIA</span> Mission.</h1>
                                        </div>
                                        <div class="slider-para wow fadeInUp" data-wow-duration="1.5s"
                                            data-wow-delay="0.2s">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                                tempor
                                                incididunt ut labore et dolore magna aliqua.</p>
                                        </div>
                                        <div class="slider-btn wow fadeInUp" data-wow-duration="1.5s"
                                            data-wow-delay="0.2s">
                                            <a href="/parish">Find a Church</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slider-item slider2 carousel-content">
                    <div class="slider-table">
                        <div class="slider-tablecell">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-8 offset-lg-4 col-md-12 text-right ">
                                        <div class="slider-heading wow fadeInDown" data-wow-duration="1.2s"
                                            data-wow-delay="0.2s">
                                            <h1><span>INDIA</span> Mission.</h1>
                                        </div>
                                        <div class="slider-para wow fadeInUp" data-wow-duration="1.5s"
                                            data-wow-delay="0.2s">
                                            <p>Welcome to The Redeemed Christian Church Of God Indian Province 2! <br>
                                                Jump right
                                                in and explore the undialuted word of God.</p>
                                        </div>
                                        <div class="slider-btn wow fadeInUp" data-wow-duration="1.5s"
                                            data-wow-delay="0.2s">
                                            <a href="/sermons">Read the Word</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slider-item slider3 carousel-content">
                    <div class="slider-table">
                        <div class="slider-tablecell">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-8 offset-lg-4 col-md-12 text-right ">
                                        <div class="slider-heading wow fadeInDown" data-wow-duration="1.2s"
                                            data-wow-delay="0.2s">
                                            <h1><span>INDIA</span> Mission.</h1>
                                        </div>
                                        <div class="slider-para wow fadeInUp" data-wow-duration="1.5s"
                                            data-wow-delay="0.2s">
                                            <p>Welcome to The Redeemed Christian Church Of God Indian Province 2! <br>
                                                Jump right
                                                in and explore the undialuted word of God.</p>
                                        </div>
                                        <div class="slider-btn wow fadeInUp" data-wow-duration="1.5s"
                                            data-wow-delay="0.2s">
                                            <a href="/testimony/new">Share Your Testimony</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Slider Area -->
        <!-- Service Area -->
        <section class="service-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="service-top text-center">
                            <h4>Our Core Values</h4>
                            <img src="https://res.cloudinary.com/ihezurumba/image/upload/c_scale,w_32/v1624608119/rccg-app/christ_t3h8gb.png"
                                alt="">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint eius inventore magni quod
                                voluptate, molestiae eos odio illo.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 services-lft">
                        <div class="service-box d-flex flex-row-reverse text-right">
                            <div class="box-icon">
                                <span><img
                                        src="https://res.cloudinary.com/ihezurumba/image/upload/c_scale,h_40,w_42/v1623316463/images/016-bible_cmv4hs.png"
                                        alt=""></span>
                            </div>
                            <div class="box-content">
                                <h6>THE BIBLE</h6>
                                <p>Lorem ipsum dolor sit amet, consectet commodi sit veniam adipisicing.</p>
                            </div>
                        </div>
                        <div class="service-box d-flex flex-row-reverse text-right">
                            <div class="box-icon">
                                <span><img
                                        src="https://res.cloudinary.com/ihezurumba/image/upload/c_scale,h_42,w_40/v1623316463/images/030-pope_lsoaq2.png"
                                        alt=""></span>
                            </div>
                            <div class="box-content">
                                <h6>ABOUT GOD</h6>
                                <p>Lorem ipsum dolor sit amet, consectet commodi sit veniam adipisicing.</p>
                            </div>
                        </div>
                        <div class="service-box d-flex flex-row-reverse text-right">
                            <div class="box-icon">
                                <span><img
                                        src="https://res.cloudinary.com/ihezurumba/image/upload/c_scale,h_42,w_40/v1623316463/images/031-christ_uxfssd.png"
                                        alt=""></span>
                            </div>
                            <div class="box-content">
                                <h6>ABOUT JESUS CHRIST</h6>
                                <p>Lorem ipsum dolor sit amet, consectet commodi sit veniam adipisicing.</p>
                            </div>
                        </div>
                        <div class="service-box d-flex flex-row-reverse text-right">
                            <div class="box-icon">
                                <span><img
                                        src="https://res.cloudinary.com/ihezurumba/image/upload/c_scale,h_42,w_40/v1623316463/images/025-pigeon_ddrqxe.png"
                                        alt=""></span>
                            </div>
                            <div class="box-content">
                                <h6>ABOUT THE HOLY SPIRIT</h6>
                                <p>Lorem ipsum dolor sit amet, consectet commodi sit veniam adipisicing.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 d-md-none d-lg-block">
                        <div class="service-image">
                            <img src="https://res.cloudinary.com/ihezurumba/image/upload/c_thumb,e_improve,g_auto,h_1576,w_978/v1624605944/rccg-app/mummy-magret_pobemy.png" alt="" class="img-fluid">
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 services-ryt">
                        <div class="service-box d-flex">
                            <div class="box-icon">
                                <span><img
                                        src="https://res.cloudinary.com/ihezurumba/image/upload/c_scale,w_42/v1624607054/rccg-app/holy-trinity_avv8ac.png"
                                        alt=""></span>
                            </div>
                            <div class="box-content">
                                <h6>ABOUT THE TRINITY</h6>
                                <p>Lorem ipsum dolor sit amet, consectet commodi sit veniam adipisicing.</p>
                            </div>
                        </div>
                        <div class="service-box d-flex">
                            <div class="box-icon">
                                <span><img
                                        src="https://res.cloudinary.com/ihezurumba/image/upload/c_scale,h_42,w_40/v1623316463/images/devil_1_jt0iuf.png"
                                        alt=""></span>
                            </div>
                            <div class="box-content">
                                <h6>ABOUT THE DEVIL</h6>
                                <p>Lorem ipsum dolor sit amet, consectet commodi sit veniam adipisicing.</p>
                            </div>
                        </div>
                        <div class="service-box d-flex">
                            <div class="box-icon">
                                <span><img
                                        src="https://res.cloudinary.com/ihezurumba/image/upload/c_scale,h_42,w_40/v1623316463/images/038-man_hvzdti.png"
                                        alt=""></span>
                            </div>
                            <div class="box-content">
                                <h6>ABOUT MAN</h6>
                                <p>Lorem ipsum dolor sit amet, consectet commodi sit veniam adipisicing.</p>
                            </div>
                        </div>
                        <div class="service-box d-flex">
                            <div class="box-icon">
                                <span><img
                                        src="https://res.cloudinary.com/ihezurumba/image/upload/c_scale,h_42,w_40/v1623316463/images/021-christianity_jihcdi.png"
                                        alt=""></span>
                            </div>
                            <div class="box-content">
                                <h6>REPENTANCE UNTO GOD</h6>
                                <p>Lorem ipsum dolor sit amet, consectet commodi sit veniam adipisicing.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Service Area -->
        <!-- Home About Area -->
        <section class="h-about mb-4">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <div class="about-box">
                            <h4>Worship God with Us</h4>
                            <img src="https://res.cloudinary.com/ihezurumba/image/upload/c_scale,w_32/v1624608119/rccg-app/christ_t3h8gb.png" alt="">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis enim quaerat a odio sed
                                eveniet
                                id, eum nesciunt qui omnis, blanditiis voluptatibus dignissimos! Dolor voluptatibus,
                                dolorum
                                corporis dolores iure laborum.Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                Sint
                                eius inventore magni quod voluptate, molestiae eos odio illo. Lorem ipsum dolor sit
                                amet,
                                consectetur adipisicing elit. Nisi, delectus ad blanditiis accusamus aut distinctio
                                eligendi.
                            </p>
                            <ul class="list-unstyled list-inline">
                                <li class="list-inline-item"><i class="fa fa-check-square-o"></i>Consectetur
                                    adipisicing.</li>
                                <li class="list-inline-item"><i class="fa fa-check-square-o"></i>Perspiciatis quam quod.
                                </li>
                            </ul>
                            <ul class="list-unstyled list-inline">
                                <li class="list-inline-item"><i class="fa fa-check-square-o"></i>Cum suscipit Sequi.
                                </li>
                                <li class="list-inline-item"><i class="fa fa-check-square-o"></i>Delectus ad blanditiis.
                                </li>
                            </ul>
                            <ul class="list-unstyled list-inline">
                                <li class="list-inline-item"><i class="fa fa-check-square-o"></i>Distinctio eligendi ut.
                                </li>
                                <li class="list-inline-item"><i class="fa fa-check-square-o"></i>Molestiae eos odio
                                    illo.</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="shedule-box">
                            <div class="open-hr">
                                <h6><i class="fa fa-clock-o"></i>Service Days</h6>
                                <ul class="list-unstyled">
                                    <li>Sunday - Service <span>10:30am - 1:00pm</span></li>
                                    <li>Tuesday- Digging Deep <span>5:00pm - 6:30pm</span></li>
                                    <li>Friday - Tarry Hour <span>4:00pm - 6:00pm</span></li>
                                </ul>
                            </div>
                            <div class="help-box">
                                <h6><i class="fa fa-pencil-square-o"></i>Need Prayer?</h6>
                                <p>Lorem ipsum dolor sit amet, consecte Molestiae adipisic elit.</p>
                                <a href="">Send Your Prayer Request</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Home About Area -->
        <!-- Specialist Area -->
        <section class="specialist">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="specialist-top text-center">
                            <h4>The Mission Leaders</h4>
                            <img src="https://res.cloudinary.com/ihezurumba/image/upload/c_scale,w_32/v1624608119/rccg-app/christ_t3h8gb.png"
                                alt="">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint eius inventore magni quod
                                voluptate, molestiae eos odio illo.</p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="owl-doctor owl-carousel">
                            <div class="carousel-content">
                                <img src="https://res.cloudinary.com/ihezurumba/image/upload/v1624606791/rccg-app/mission-leaders_t09wub.png" alt="" class="img-fluid">
                                <div class="doc-content text-center">
                                    <h5>Pastor. Dipo Joseph</h5>
                                    <p>SATCO</p>
                                    <ul class="list-unstyled list-inline">
                                        <li class="list-inline-item"><a href=""><i class="fa fa-facebook"></i></a></li>
                                        <li class="list-inline-item"><a href=""><i class="fa fa-twitter"></i></a></li>
                                        <li class="list-inline-item"><a href=""><i class="fa fa-linkedin"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="carousel-content">
                                <img src="https://res.cloudinary.com/ihezurumba/image/upload/v1624606791/rccg-app/mission-leaders_t09wub.png" alt="" class="img-fluid">
                                <div class="doc-content text-center">
                                    <h5>Pastor. Maria Perry</h5>
                                    <p>Secretary</p>
                                    <ul class="list-unstyled list-inline">
                                        <li class="list-inline-item"><a href=""><i class="fa fa-facebook"></i></a></li>
                                        <li class="list-inline-item"><a href=""><i class="fa fa-twitter"></i></a></li>
                                        <li class="list-inline-item"><a href=""><i class="fa fa-linkedin"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="carousel-content">
                                <img src="https://res.cloudinary.com/ihezurumba/image/upload/v1624606791/rccg-app/mission-leaders_t09wub.png" alt="" class="img-fluid">
                                <div class="doc-content text-center">
                                    <h5>Pastor. David Jones</h5>
                                    <p>Trustee</p>
                                    <ul class="list-unstyled list-inline">
                                        <li class="list-inline-item"><a href=""><i class="fa fa-facebook"></i></a></li>
                                        <li class="list-inline-item"><a href=""><i class="fa fa-twitter"></i></a></li>
                                        <li class="list-inline-item"><a href=""><i class="fa fa-linkedin"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="carousel-content">
                                <img src="https://res.cloudinary.com/ihezurumba/image/upload/v1624606791/rccg-app/mission-leaders_t09wub.png" alt="" class="img-fluid">
                                <div class="doc-content text-center">
                                    <h5>Pastor Alisha Perry</h5>
                                    <p>Trustee</p>
                                    <ul class="list-unstyled list-inline">
                                        <li class="list-inline-item"><a href=""><i class="fa fa-facebook"></i></a></li>
                                        <li class="list-inline-item"><a href=""><i class="fa fa-twitter"></i></a></li>
                                        <li class="list-inline-item"><a href=""><i class="fa fa-linkedin"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Specialist Area -->
        <!-- Testimonial Area -->
        <section class="testimonial">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="testimonial-top text-center">
                            <h4>Our Testimonies</h4>
                            <img src="https://res.cloudinary.com/ihezurumba/image/upload/c_scale,w_32/v1624608119/rccg-app/christ_t3h8gb.png" alt="">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint eius inventore magni quod
                                voluptate, molestiae eos odio illo.</p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="owl-testimonial owl-carousel">
                            <% for(let testy of testimonies){ %>
                                <div class="testimonial-content text-center">
                                    <% if(testy.author.images.length){ %>
                                        <img src="<%= testy.author.images[0].thumbnail %> " alt="" class="img-fluid">
                                        <% }else{ %>
                                            <img class="img-fluid"
                                                src="https://cdn.pixabay.com/photo/2014/04/05/11/39/read-316507__340.jpg">
                                            <% } %>
                                                <h5>
                                                    <%= testy.author.firstname %>
                                                </h5>
                                                <a href="/testimony/<%= testy.slug%> "><span>
                                                        <%= testy.title %>
                                                    </span>
                                                </a>
                                                <p>
                                                    <%- testy.body.substring(0, 150) %>
                                                </p>
                                </div>
                                <% } %>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Testimonial Area -->
        <!-- News & Events -->
        <section class="news">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="news-top text-center">
                            <h4>Latest News & Events</h4>
                            <img src="https://res.cloudinary.com/ihezurumba/image/upload/c_scale,w_32/v1624608119/rccg-app/christ_t3h8gb.png" alt="">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint eius inventore magni quod
                                voluptate, molestiae eos odio illo.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <% for(let event of events){ %>
                        <div class="news-box">
                            <% if(event.images.length){ %>
                                <div class="news-image">
                                    <a href=""><img src="<%=event.images[0].thumbnail %>"  alt="" class="img-fluid"></a>
                                   <% }else{ %> 
                                    <img class="img-fluid" src="https://cdn.pixabay.com/photo/2014/04/05/11/39/read-316507__340.jpg">
                                    <% } %> 
                            </div>
                            <div class="news-heading d-flex">
                                <div class="news-date text-center">
                                    <p><%= event.starts %> </p>
                                </div>
                                <div class="heading-box">
                                    <h6><a href="/events/<%= event.slug%> "><%= event.title %> </a></h6>
                                    <ul class="list-unstyled list-inline">
                                        <li class="list-inline-item"><i class="fa fa-map-marker"></i><a href=""><strong><%= event.venue %></strong></a></li>
                                        
                                    </ul>
                                </div>
                            </div>
                            <div class="news-content">
                                <p><%- event.description.substring(0, 150) %>  ...</p>
                            </div>
                            <% } %> 
                        </div>
                    </div>
                    
                 
                </div>
            </div>
        </section>
        <!-- <div>Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a
                href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> -->
        <!-- End News & Events -->
    </main>



    </div>